<head>
    <meta charset="utf-8">
    <title>HOME PAGE :
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<h3>ONLINE COURSE MANAGEMENT SYSTEM :</h3>

<h1><a href="{{url_for('student_login')}}">GO TO STUDENT LOGIN</a></h1>

<h1><a href="{{url_for('student_register')}}">GO TO STUDENT REGISTER</a></h1>
<h1><a href="{{url_for('instructor_login')}}">GO TO INSTRUCTOR LOGIN</a></h1>
<h1><a href="{{url_for('instructor_register')}}">GO TO INSTRUCTOR REGISTER</a></h1>
    